config settings
    option enabled '1'
    option check_interval '60'
    list ping_targets '8.8.8.8'
    list ping_targets '1.1.1.1'
    list ping_targets '223.5.5.5'
    list ping_targets '114.114.114.114'
    option ping_count '3'
    option ping_timeout '3'
    option ping_success_count '1'
    option switch_wait_time '3'

config interface 'wan'
    option enabled '1'
    option interface 'wan'
    option metric '10'
    option primary '1'


config schedule 'morning'
    option enabled '0'
    option time '08:00'
    option action 'auto'

config schedule 'evening'
    option enabled '0'
    option time '18:00'
    option action 'switch wan'
