config global 'settings'
    option enabled '0'
    option operation_mode 'auto'
    option check_interval '60'
    option ping_targets '8.8.8.8 1.1.1.1 223.5.5.5'
    option ping_count '3'
    option ping_timeout '3'
    option switch_wait_time '3'

config interface 'wan'
    option enabled '1'
    option interface 'wan'
    option metric '10'

config interface 'wwan'
    option enabled '1'
    option interface 'wwan'
    option metric '20'

config schedule 'schedule'
    option enabled '0'
    option times '08:00,18:00'
    option targets 'auto,wwan'
