# 文件: files/network_switcher.config
config settings
    option enabled '1'
    option check_interval '60'
    list ping_targets '8.8.8.8'
    list ping_targets '1.1.1.1'
    list ping_targets '223.5.5.5'
    option ping_success_count '1'
    option ping_count '3'
    option ping_timeout '3'
    option switch_wait_time '3'

config interface 'wan'
    option enabled '1'
    option interface 'wan'
    option metric '10'
    option primary '1'


config schedule
    option enabled '0'
    list times '08:00'
    list targets 'auto'
